/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

html {
    font-size: 70%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    color: #fff;
    line-height: 1.5;
    background-color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

h1  {
    font-size: 5rem;
    max-width: 600px;
    line-height: 1.1em;
    margin-bottom: 15px;
}

@media (max-width: 1199px) {
    h1 {
        font-size: 4rem;
        max-width: 740px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 10px;
    }
}

h2  {
    text-align: center;
    font-size: 3rem;
    line-height: 1.2em;
}

@media (max-width: 600px) {
    h2 {
        font-size: 2.4rem;
        text-align: center;
    }
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 600px) {
    p {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

ul, ol {
    list-style: none;
}

section {
    padding: 40px 0px;
}

.align-center {
    text-align: center;
}


/* Custom Geral */
.i-triangulo {
    max-width: 16px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.i-triangulo-baixo {
    max-width: 15px;
    margin-left: 5px;
}

.responsive-img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-max-330 {
    max-width: 330px;
    border-radius: 12px;
}

.center-content {
    display: flex;
    justify-content: center;
}


/* Custom - Section 01 */
header {
    min-height: 100vh;
    min-height: 100svh; 
    min-height: 100lvh;
    min-height: 100dvh;
    background-image: url("../imagens/background_igordesigner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header p {
    font-size: 2.2rem;
    margin-bottom: 15px;
}

#subtitle {
    font-size: 2rem;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    header {
        background-image: url("../imagens/background_igordesigner.jpg");
        background-position: center right;
        justify-content: flex-end;
        padding-bottom: 20px;
    }

    #subtitle {
        font-size: 1.8rem;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media (max-width: 600px) {
    header {
        background-image: url("../imagens/background_igor600.jpg");
        background-position: center bottom;
        padding-bottom: 20px;
    }

    #subtitle {
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 20px;
    }

    header p {
        font-size: 1.8rem;
        text-align: center;
    }
}

#bt-whatsapp {
    width: 100%;
    max-width: fit-content;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 15px 20px;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 30px;
}

#bt-whatsapp:hover {
    color: #000;
    background-color: #fff;
}

#bt-whatsapp span {
    font-size: 2.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#bt-whatsapp img {
    max-width: 60px;
    margin-right: 15px;
    filter: drop-shadow(0 0 10px rgba(0, 255, 0, 0.6));
}

@media (max-width: 600px) {
    #bt-whatsapp {
        padding: 10px 15px;
        margin-bottom: 20px;
    }
    #bt-whatsapp span {
        font-size: 2rem;
    }
    #bt-whatsapp img {
        max-width: 50px;
        margin-right: 10px;
    }
}


/* Custom - Section 02 */
#sobremim,
#portifolio {
    background-color: #000;
}

@media (max-width: 600px) {
    #sobremim,
    #portifolio {
        background: linear-gradient(to right, #060822, #040512);
    }

    #sobremim p {
        text-align: left;
    }
}

/* Custom - Section 03 */
.pulse,
.pulse2 {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    position: relative;
    border-radius: 10px; /* Mesma borda da imagem */
}

.pulse:hover {
    transform: scale(1.1);
    animation: pulse-animation 2s infinite;
    border-radius: 10px;
}

.pulse2:hover {
    animation: pulse-animation 2s infinite;
    border-radius: 10px;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

/* Footer - Section 03 */
footer {
    padding: 15px;
    background-color: #141414;
}

footer p {
    font-size: 15px;
}

.links:hover {
    color: #039fff;
}
